/***** Reset *****/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

/**** Global ****/
@font-face {
    font-family: HankenGrotesk;
    src: url(/./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
/* stattic Fonts */
@font-face {
    font-family: HankenGrotesk-Bold;
    src: url(/./assets/fonts/static/HankenGrotesk-Bold.ttf);
}
@font-face {
    font-family: HankenGrotesk-ExtraBold;
    src: url(/./assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}
@font-face {
    font-family: HankenGrotesk-Medium;
    src: url(/./assets/fonts/static/HankenGrotesk-Medium.ttf);
}
:root {
    /* Primary Color */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    /* ------------------------------------ */

    /* Gradients Color */
    --Light-slate-blue : hsl(252, 100%, 67%); /*(background)*/
    --Light-royal-blue : hsl(241, 81%, 54%);  /*(background)*/

    --Violet-blue : hsla(256, 72%, 46%, 1); /*(circle)*/
    --Persian-blue : hsla(241, 72%, 46%, 0); /*(circle)*/

    /* -------------------------------------------------------- */
    /* Neutral Color */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%-);
}
body {
     background-color: var(--Pale-blue) ;
}
   
/* ---------------------------------------------- */

/* container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: var(--Pale-blue);
}
.container .card {
   display: flex;
   justify-content: center;
   background-color: var(--White);
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
 
}
.container .card .h1 {
   background: linear-gradient( 190deg ,var(--Light-slate-blue) 5%, var(--Light-royal-blue) 95%) ;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 20px ;
   -webkit-border-radius: 20px ;
   -moz-border-radius: 20px ;
   -ms-border-radius: 20px ;
   -o-border-radius: 20px ;
}
.container .card .result {
    color: var(--Light-lavender);
    padding: 35px;
    font-size: 17.5px;
    font-family:  HankenGrotesk-Medium;
}
.container .card .circleDiv {
    background: linear-gradient( 360deg, var(--Persian-blue) , var(--Violet-blue)   );
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 20px;
    width: 150px;
    height: 150px;
    text-align: center;

}
.container .card .circleDiv h1{
    color: var(--White) ;
    font-family:  HankenGrotesk-ExtraBold;
    font-size: 50px;
}
.container .card .circleDiv p {
    color: var(--Light-lavender);
    font-family:HankenGrotesk-Medium ;
    font-size: 14px;
}
.container .card .h1 h2 {
    margin-top: 20px;
    color: var(--White);
    font-family:HankenGrotesk-ExtraBold ;
}
.container .card .h1 .parag {
    color: var(--Light-lavender);
    text-align: center;
    padding: 14px 30px 50px 30px;
}
.container .texts {
    padding: 30px 30px 30px 18px;
   font-family:HankenGrotesk-ExtraBold  ;
}
.container .texts h2 {
    color: var(--Dark-gray-blue);
    font-family: HankenGrotesk-Medium;
    margin-bottom: 30px;
    transform: translateX(-63px);
    -webkit-transform: translateX(-63px);
    -moz-transform: translateX(-63px);
    -ms-transform: translateX(-63px);
    -o-transform: translateX(-63px);
    font-size: 25px;
}
.container .cont-parag{
   transform: translateX(20px);
   -webkit-transform: translateX(20px);
   -moz-transform: translateX(20px);
   -ms-transform: translateX(20px);
   -o-transform: translateX(20px);
   width: 250px;
   margin-right: 20px;
}
.container .cont-parag .reaction {
    background: rgb(230, 8, 45, 0.1);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--Light-red);
   margin-bottom: 16px;
       
}
.container .cont-parag .reaction span{
    margin-left: 70px;
    color: #000 ;
}

.container .cont-parag .reaction .onehundred {
    margin-left: 0 ;
    color: #c5c4c5;
}


.container .cont-parag .Memory {
    background: rgba(209, 145, 6, 0.1);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--Orangey-yellow);
    margin-bottom: 16px;
       
}

.container .cont-parag .Memory span{
    margin-left: 70px;
    color: #000 ;
}
.container .cont-parag .Memory .onehundred {
    margin-left: 0 ;
    color: #c5c4c5;
}
.container .cont-parag .Verbal {
    background: rgba(6, 209, 23, 0.1);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--Green-teal);
    margin-bottom: 16px;
       
}
.container .cont-parag .Verbal .onehundred {
    margin-left: 0 ;
    color: #c5c4c5;
}
.container .cont-parag .Verbal span{
    margin-left: 84px;
    color: #000 ;
} 
i {
    font-size: 13px;
    padding-right: 9px;
}
.container .cont-parag .Visual {
    background: rgba(81, 12, 211, 0.1);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--Cobalt-blue);
    margin-bottom: 16px;
       
}
.container .cont-parag .Visual .onehundred {
    margin-left: 0 ;
    color: #c5c4c5;
}
.container .cont-parag .Visual span{
    margin-left: 84px;
    color: #000 ;
}
button {
    width: 90%;
    padding: 11px;
    color: var(--White);
    border: none;
    background-color:#0a0952;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-family: HankenGrotesk-Medium;
    font-size: 15px;
    margin-top: 14px;
    margin-left: 20px;
    cursor: pointer;
}
button:hover {
    background: linear-gradient( 190deg ,var(--Light-slate-blue) 5%, var(--Light-royal-blue)) ;
}
/* ------------------------------------------------------------ */

/*  mediaQuery */
@media screen and (max-width: 550px) {
    .container .card {
        display: flex;
        flex-direction: column;
    }
        .attribution {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
}
}
